<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<div th:fragment="footer">

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 footer_one">
                    <div class="row">
                        <h6 style="padding-left: 55px">Useful information</h6>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul style="list-style-type:none">
                                <li class="footerlink">
                                    <a class="footerlink" href="/contact">Customer Care 24/7</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/delivery">Delivery</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/exchanges_returns">Exchanges & Returns</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/payment">Payment</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/faq">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul style="list-style-type:none">
                                <li class="footerlink">
                                    <a class="footerlink" href="/about">About Us</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/affiliates">Affiliates</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/advertising">Advertising</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/terms_and_conditions">Terms & Conditions</a>
                                </li>
                                <li class="footerlink">
                                    <a class="footerlink" href="/privacy_policy">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-4 footer-2">
                    <a href="contact.html" style="color: black;"><h6>Contact Us</h6></a>
                    <a href="https://www.instagram.com/cdfhome_/" target="_blank"><img src="assets/img/iglogo.png" width="auto" height="28px" alt="instagram"></a>
                    <a href="https://twitter.com/programmersmeme?lang=en" target="_blank"><img src="assets/img/twitterlogo.png" width="auto" height="24px" alt="twitter"></a>
                    <a href="https://www.facebook.com/ProgrammersCreateLife/" target="_blank"><img src="assets/img/facebooklogo.png" width="auto" height="22px" alt="facebook"></a>
                    <div class="footer-3">
                        <h6>Stay in touch</h6>
                        <div class="input-group input-group-sm mb-5">
                            <input type="email" class="form-control" placeholder="Sign up for all things good" aria-label="Subscriber emailadd" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button onclick="storesignup()" class="btn btn-outline-secondary" type="button" id="button-addon2">></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


</div>
</body>
</html>