<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>FAQs</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="assets/modern-business.css" rel="stylesheet" />
  <script src="assets/main.js"></script>
</head>

<body>
  <!-- Navigation -->
  <div th:insert="fragments/navbar.html :: navbar"> </div>

  <!-- Page Content -->
  <div class="container">
    <!-- Registration Form -->
    <div class="row" id="signinpaddingtop">
      <div class="col-sm-6">
        <img class="img-fluid" src="assets/img/faq.jpeg" height="400" style="padding-bottom: 10px;">
      </div>
      <div class="col-sm-6" style="padding-top: 70px;">
        <h3 style="text-shadow: 1px 1px 1px grey;">Frequently Asked Questions</h3>
        <hr>
        <div>
          <button type="button" class="collapsible">COVID-19 (coronavirus) FAQs and information</button>
          <div class="faqcontent">
            <p>
              <b>Is it safe to shop from your site?</b>
            </p>
            <p>
              The health and safety of colleagues and the wider community has always been our first priority. We have enhanced safety measures in place to safeguard teams, going above and beyond government guidelines to maximize protection.
            </p>
            <p>
              <b>What are you doing to ensure colleagues' safety?</b>
            </p>
            <p>
              We have introduced a number of additional health-and-safety measures that go above and beyond the government guidelines.
              <br>
              These include:
              <br>
              <br> 
              1m or above social distancing respected throughout site <br>
              Temperature-control checks on entry, using advanced thermal screening technology<br>
              Staggered breaks, staggered entry and exit to site and a one-way system implemented to site<br>
              Increased cleaning and disinfecting of equipment<br>
              PPE, including masks, gloves and sanitizer
            </p>
          </div>
        </div>
        <div>
          <button type="button" class="collapsible">Do I need an account to place an order?</button>
          <div class="faqcontent">
            <p>
              You can shop without creating an account. However, if you register with us, you’ll enjoy the following benefits:
              <ul>
                <li>Track your orders and review past purchases</li>
                <li>Request an exchange or return directly from your account</li>
                <li>Save your address and card details so you can shop even quicker in future</li>
              </ul>
            </p>
          </div>
        </div>
        <div>
          <button type="button" class="collapsible">Can I amend or cancel an item from my order?</button>
          <div class="faqcontent">
            <p>
              Depending on the status of your order, it may be possible to cancel an item or change it to a different colour. Please
              note, we’re unable to combine or add an item to an existing order.
            </p>
            <p>
              If you need to make any amendments to your purchase, please contact our Customer Care team as soon as possible and we’ll
              see what we can do.
            </p>
          </div>
        </div>
        <div>
          <button type="button" class="collapsible">What do I do if I think an item that I purchased from your site is faulty?</button>
          <div class="faqcontent">
           <p>
            Simply email customercare@cdf.com and we’ll look into this for you. When you get in touch with us, please provide your order number and photographs of your item. Please be aware that items which have been damaged as a result of normal wear and tear, by accident, or your own misuse, will not be considered faulty. This does not affect your statutory rights.
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div th:insert="fragments/footer.html :: footer"> </div>
  
  <!-- FAQ Collapsible JavaScript -->
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>

    <!-- Bootstrap core JavaScript -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <script src="assets/jqBootstrapValidation.js"></script>
  <script src="assets/contact_me.js"></script>
</body>

</html>