<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Shop All</title>

    <!-- Bootstrap core CSS -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="assets/modern-business.css" rel="stylesheet" />

  </head>

  <body>
    <!-- Navigation -->
    <div th:insert="fragments/navbar.html :: navbar"> </div>

    <header>
        <div class="jumbotron jumbotron_shopall jumbotron-fluid">
            <div class="container">
              <h1 class="display-4" style="color:white; text-shadow: 1px 1px 1px grey;">Build your home</h1>
              <p class="lead" style="color:white; text-shadow: 1px 1px 1px grey;">Discover the best of home furnishings at your fingertips</p>
            </div>
          </div>
    </header>

    <!-- Page Content -->
    <div class="container">
      <!-- Products Section -->
      <h2 style="text-shadow: 1px 1px 2px grey;">Shop all</h2>
      <div id="searchWrapper">

        <input type="text" id="searchBar" class="form-controlx" onchange="hideIcon(this);" />
      </div>

      <div id="charactersList">
      </div>

    </div>

<!--        <div class="col-lg-4 col-sm-6 portfolio-item">-->
<!--          <div class="card h-100 border-0">-->
<!--            <img class="card-img-top" src="assets/img/product/isabella_floorlamp1.jpeg"-->
<!--                onmouseover="this.src='assets/img/product/isabella_floorlamp2.jpeg'"-->
<!--                onmouseout="this.src='assets/img/product/isabella_floorlamp1.jpeg'" -->
<!--                height="350" -->
<!--                alt="Isabella Floor Lamp"/>-->
<!--            <div class="card-body">-->
<!--              <h4 class="card-title">Isabella Floor Lamp</h4>-->
<!--              <p class="item-price">-->
<!--                $179-->
<!--              </p>-->
<!--              <button type="submit" class="btn btn-primary add-cart" id="addtocart">-->
<!--                Add to cart-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    <div class="row" id="card">-->

    
<!-- Footer -->
    <script src="assets/main.js"></script>
    <script src="assets/searchBar.js"></script>

    <div th:insert="fragments/footer.html :: footer"> </div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
