<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Shop All</title>

    <!-- Bootstrap core CSS -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="assets/modern-business.css" rel="stylesheet" />
    <script src="assets/main.js"></script>
    <script src="assets/shopall.js"></script>

  </head>

  <body>
    <!-- Navigation -->
    <div th:insert="fragments/navbar.html :: navbar"> </div>

    <header>
        <div class="jumbotron jumbotron_shopall jumbotron-fluid">
            <div class="container">
              <h1 class="display-4" style="color:white; text-shadow: 1px 1px 1px grey;">Build your home</h1>
              <p class="lead" style="color:white; text-shadow: 1px 1px 1px grey;">Discover the best of home furnishings at your fingertips</p>
            </div>
          </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <!-- Products Section -->
      <h2 style="text-shadow: 1px 1px 2px grey;">Shop all</h2>

      <!-- <div id="products_list"></div> -->


     
      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
              <img
                class="card-img-top"
                src="assets/img/product/asher_tallshelf1.jpeg"
                onmouseover="this.src='assets/img/product/asher_tallshelf2.jpeg'"
                onmouseout="this.src='assets/img/product/asher_tallshelf1.jpeg'"
                height="350"
                alt="asher tall shelf"/>
            <div class="card-body">
              <h4 class="card-title">Asher Tall Shelf</h4>
              <p class="item-price">
                $150
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img
                class="card-img-top"
                src="assets/img/product/axel_side_chair1.jpeg"
                onmouseover="this.src='assets/img/product/axel_side_chair2.jpeg'"
                onmouseout="this.src='assets/img/product/axel_side_chair1.jpeg'"
                height="350"
                alt="axel side chair"
            />
            <div class="card-body">
              <h4 class="card-title">Axel Side Chair</h4>
              <p class="item-price">
                $100
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img
                class="card-img-top"
                src="assets/img/product/bruno_diningtable1.jpeg"
                onmouseover="this.src='assets/img/product/bruno_diningtable2.jpeg'"
                onmouseout="this.src='assets/img/product/bruno_diningtable1.jpeg'"
                height="350"
                alt="bruno dining table"
            />
            <div class="card-body">
              <h4 class="card-title">Bruno Dining Table</h4>
              <p class="item-price">
                $1040
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>

            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img
                class="card-img-top"
                src="assets/img/product/dualtone_3seatersofa1.jpeg"
                onmouseover="this.src='assets/img/product/dualtone_3seatersofa2.jpeg'"
                onmouseout="this.src='assets/img/product/dualtone_3seatersofa1.jpeg'"
                height="350"
                alt="dualtone 3 seater sofa"
            />
            <div class="card-body">
              <h4 class="card-title">Dualtone 3-seater Sofa</h4>
              <p class="item-price">
                $399
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img class="card-img-top" src="assets/img/product/canvas_lunchbag1.jpeg"
              onmouseover="this.src='assets/img/product/canvas_lunchbag2.jpeg'"
              onmouseout="this.src='assets/img/product/canvas_lunchbag1.jpeg'" height="350" alt="Reusable Canvas Lunch Bag" />
            <div class="card-body">
              <h4 class="card-title">Reusable Canvas Lunch Bag</h4>
              <p class="item-price">
                $27
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img
                class="card-img-top"
                src="assets/img/product/emelie_tvconsole1.jpeg"
                onmouseover="this.src='assets/img/product/emelie_tvconsole2.jpeg'"
                onmouseout="this.src='assets/img/product/emelie_tvconsole1.jpeg'"
                height="350"
                alt="emelie tv console"
            />
            <div class="card-body">
              <h4 class="card-title">Emelie TV Console</h4>
              <p class="item-price">
                $399
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100 border-0">
              <img
                  class="card-img-top"
                  src="assets/img/product/grasshoppa_floorlamp1.jpeg"
                  onmouseover="this.src='assets/img/product/grasshoppa_floorlamp2.jpeg'"
                  onmouseout="this.src='assets/img/product/grasshoppa_floorlamp1.jpeg'"
                  height="350"
                  alt="Grasshoppa Floor Lamp"
              />
              <div class="card-body">
                <h4 class="card-title">Grasshoppa Floor Lamp</h4>
                <p class="item-price">
                  $149
                </p>
                <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                  Add to cart
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100 border-0">
              <img class="card-img-top" src="assets/img/product/cotton_triangle_quilt1.jpeg"
                onmouseover="this.src='assets/img/product/cotton_triangle_quilt2.jpeg'"
                onmouseout="this.src='assets/img/product/cotton_triangle_quilt1.jpeg'" height="350" alt="Cotton Triangle Quilt" />
              <div class="card-body">
                <h4 class="card-title">Cotton Triangle Quilt</h4>
                <p class="item-price">
                  $189
                </p>
                <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                  Add to cart
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100 border-0">
              <img
                  class="card-img-top"
                  src="assets/img/product/linate_coffeetable1.jpeg"
                  onmouseover="this.src='assets/img/product/linate_coffeetable2.jpeg'"
                  onmouseout="this.src='assets/img/product/linate_coffeetable1.jpeg'"
                  height="350"
                  alt="Linate Coffee Table"
              />
              <div class="card-body">
                <h4 class="card-title">Linate Coffee Table</h4>
                <p class="item-price">
                  $1279
                </p>
                <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                  Add to cart
                </button>
              </div>
            </div>
          </div>

           <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100 border-0">
              <img
                  class="card-img-top"
                  src="assets/img/product/reagan_bookshelf1.jpeg"
                  onmouseover="this.src='assets/img/product/reagan_bookshelf2.jpeg'"
                  onmouseout="this.src='assets/img/product/reagan_bookshelf1.jpeg'"
                  height="350"
                  alt="Reagan Bookshelf"
              />
              <div class="card-body">
                <h4 class="card-title">Reagan Bookshelf</h4>
                <p class="item-price">
                  $899
                </p>
                <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                  Add to cart
                </button>
              </div>
            </div>
          </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img class="card-img-top" src="assets/img/product/clare_dinnerplateset1.jpeg"
              onmouseover="this.src='assets/img/product/clare_dinnerplateset2.jpeg'"
              onmouseout="this.src='assets/img/product/clare_dinnerplateset1.jpeg'" height="350" alt="claire dinner plates" />
            <div class="card-body">
              <h4 class="card-title">Claire Dinner Plates Set</h4>
              <p class="item-price">
                $54.80
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100 border-0">
            <img class="card-img-top" src="assets/img/product/isabella_floorlamp1.jpeg"
                onmouseover="this.src='assets/img/product/isabella_floorlamp2.jpeg'"
                onmouseout="this.src='assets/img/product/isabella_floorlamp1.jpeg'" 
                height="350" 
                alt="Isabella Floor Lamp"/>
            <div class="card-body">
              <h4 class="card-title">Isabella Floor Lamp</h4>
              <p class="item-price">
                $179
              </p>
              <button type="submit" class="btn btn-primary add-cart" id="addtocart">
                Add to cart
              </button>
            </div>
          </div>
        </div>
    <div class="row" id="card">


    </div>
      </div>
    </div>

<!-- Fetch Method Row -->

    </div>
    
<!-- Footer -->
    <div th:insert="fragments/footer.html :: footer"> </div>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
