<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="assets/modern-business.css" rel="stylesheet" />
    <script src="assets/main.js"></script>
  </head>

  <body>
    <!-- Navigation -->
    <div th:insert="fragments/navbar.html :: navbar"> </div>

    <!-- Page Content -->
    <div class="container">
      <!-- Contact Form -->
      <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <div class="row" id="signinpaddingtop">
        <div class="col-sm-6">
            <img class="img-fluid" src="assets/img/signin_banner.jpg" height="400" style="padding-bottom: 10px;">
        </div>
        <div class="col-sm-6" style="padding-top: 70px;">
          <h3 style="text-shadow: 1px 1px 1px grey;">Sign in</h3>
          <hr>
          <div th:if="${param.error}">
            Invalid username and password.
          </div>
          <div th:if="${param.logout}">
            You have been logged out.
          </div>
          <form name="signin_form" id="signin_form" th:action="@{/login}" method="POST">
            <div class="control-group form-group">
                <div class="controls">
                  <label>User Name:</label>
                  <input                     type="text"
                                             name="username"
                    class="form-control"
                    id="username"
                    required
                    data-validation-required-message="Please enter your username."
                  />
                </div>
              </div>
            <div class="control-group form-group">
              <div class="controls">
                <label>Password:</label>
                <input
                  type="password"
                  name="password"
                  class="form-control"
                  id="password"
                  required
                  data-validation-required-message="Please enter your password."
                />
              </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
<!--            <button-->
<!--              type="submit"-->
<!--              value="Sign In"-->
<!--              class="btn btn-primary"-->
<!--              id="sendMessageButton" style="background-color: black; border: 0;"-->
<!--            >-->
<!--              Log in-->
<!--            </button>-->

            <input type="submit"  class="btn btn-primary" value="Sign In" style="background-color: black; border: 0">
          </form>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="fragments/footer.html :: footer"> </div>


    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="assets/jqBootstrapValidation.js"></script>
    <script src="assets/contact_me.js"></script>
  </body>
</html>
